body {
  background-color: #ff6309;
  width: 100%;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

#smoothie-home-img {
  border-radius: 10px;
  height: 50vh;
}

/* MENU PAGE */

#menu-container {
  border: 2px solid white;
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-container {
  background-color: lightblue;
  width: 25vh;
  height: 35vh;
  margin: 20px;
  border: 2px solid white;
  border-radius: 10px;
}